body
{
    background: url('../img/background.jpg') repeat center center fixed;
}

h2
{
    margin-bottom: 50px;
}

.jumbotron
{
    background: rgba(255, 255, 255, 0.90);
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
    background-color: green;
}