{% extends "MDLCoreBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block body %}

    <h2 class ="text-center">Billetterie du musée du Louvre</h2>

    <p>Veuillez entrer les champs suivants pour réserver vos places pour visiter le musée du Louvre :</p>


{% endblock %}